@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    background:rgb(71, 96, 114);
}

.container{
    width: 40%px;
    min-width: 400px;
    min-height: 100px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background:rgb(238, 238, 238);
    color: rgb(51, 66, 87);
    border-radius: 10px;
}

h1{
    text-align: center;
    margin: 10px;
    font-family: 'Zeyada', cursive;
    font-size: 40px;
}
#newtask{
    position: relative;
    padding: 30px 20px;
}

#newtask input{
    width: 75%;
    height: 45px;
    font-size: 16px;
    border: 1px solid rgb(71, 96, 114);
    color:  rgb(71, 96, 114);
    font-weight: bold;
    position: relative;
    border-radius: 5px;
    padding: 10px;
}

#newtask input:focus{
    outline: none;
    border-color: rgb(84, 140, 168);
}

#newtask button{
    position: relative;
    float: right;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-weight: bold;
    background: rgb(71, 96, 114);
    color: rgb(238, 238, 238);
    outline: none;
    cursor: pointer;
}

#task{
    background: rgba(71, 96, 114, 0.6);
    color: rgb(238, 238, 238);
    height: 50px;
    margin:10px;
    padding: 5px 10px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

ul .tasks{
    
}
